
:root {
    --primary-color: #257B5F;
}

#contact-main h1 {
margin: 5rem 0rem;
color: var(--primary-color)
}

.col-left {
    padding: 0 4rem 0 6rem;
}
#contact-main p {
    font-size: 1em;
    line-height: 1.2;
}
.container-fluid {
    max-width: 1200px;
}

.contact-h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.li-lead {
    font-weight: 600;
}

form .btn-custom,
.btn-custom {
    text-align: center;
    margin-left: 2rem;
    padding: 8px 80px !important;
}
.contact-list {
    list-style: none;
}
.contact-article > div{
    margin: auto 2rem;
}
.contact-list li:not(:last-child) {
    margin-bottom: 1rem;
}
.social-media-list i {
    margin-right: 1rem;
}