



@media screen and (min-width:992px){html body.adminimal-admin-toolbar{margin-top:38px;}html body.adminimal-admin-toolbar.toolbar-tray-open{margin-top:86px;}}html body .region-we-mega-menu .we-mega-menu-li.tabbed-open .we-mega-menu-submenu:first-of-type{display:block;visibility:visible;opacity:1;}html body .row:before{width:0;clear:both;}html body .row:after{width:0;clear:both;}




ul ul{
    list-style-type:circle; 
}

#page, p, ul, ol, dl,  
.ui-dialog-content p, 
#main .ui-accordion-content h2, 
.leftnavbox h4, 
.leftnavbox .content ul li,
.leftnavbox > ul li,
input,
select,
textarea, a
 {
  font-size: .9em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}
a
 {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}
.divIconLabel-orange {
    font-size: 11px;
}
#intmap button {
    font-size: 1em;
}

.ui-dialog-content p,
.ui-dialog-content ul,
.ui-accordion-content p,
.ui-accordion-content ul {
    font-size: .8em;
}
.leaflet-popup-content{
    font-size: 1.3em;
}
#survey-banner{
    border: solid 2px #FA6F32;
    background-color: #f8f59d;
    padding: 12px;
    font-size: 18px;
}
#survey-banner a{   
    color: black;
}
.fa-comment-o {
    margin-right: 5px;
    font-size: 24px;
}
@media (min-width: 43.75em) {
  #page {
    font-size: .9em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.2em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 2.2em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2, legend {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.25em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.25em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
  h3.status-noclosure-title {
       font-size: 1em;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

legend {
    font-weight: bold;
}
/*--end text size from http://typecast.com/images/uploads/modernscale.css--*/

.copyright {
    font-size: .8em;
}

.textarea-container {
    padding-top: 20px;
}

#feedbackForm {
    border: 1px solid #dadada;
    padding: 20px;
}
.formfield {
    margin-top: 15px;
    margin-right: 15px;
}
textarea {
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    font-family: 'Lato', Verdana, Arial, Helvetica, sans-serif;
}
label {
    margin-top: 15px;
    font-weight: bold;
}
input {
    margin-top: 5px;
    height: 40px;
    padding: 0 5px;
}
.contact h3 {
    border-top: 1px solid #dadada;
    padding-top: 20px;
}

table#activity-details td {
    padding: 5px 10px;
}

table#activity-details {
    margin-bottom: 10px;
}
p, ul, ol, dl {
    /*font-size: 15px;*/
}

.leftnavbox .content ul li, .leftnavbox > ul li {
    /*font-size: 15px;*/
}


#main h2#current-construction {
    font-size: 1.45em;
}
#main p.nomarge {
    margin: 0;
}
.orangeMap {
        border-top: 1px solid black;
}
.orangeMap *, orangeMap ::after, orangeMap ::before {
    box-sizing: unset;
}
img {
    max-width: 100%;
}
#map {
    height: 500px;
    border-left:1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000; 
}

.closureBox {
    padding: 10px;
     border: 2px solid #f36e21;
    margin-bottom: 10px;
}
.closureBox h3 {
    margin: 0;
}
.status-noclosure-title, .status-noclosure-title span{
    color: white;
    margin: 0;
}

.status-noclosure-title span {
    font-weight: normal;
}

.alert-noclosure-wrapper {
    padding:5px 10px;
    background-color: #f36e21;
    font-size: 16px;
}
.alert-closure-wrapper {
    padding:5px 10px;
    background-color: #ffff4d;
    border-top: 2px solid #f36e21;
    border-right: 2px solid #f36e21;
    border-left: 2px solid #f36e21;
}
.status-closure-title span {
    color: crimson;
}
#main p.no-closure-scheduled {
    display: inline-block;
    margin: 0;
}

#accordion{
    margin-bottom: 20px;
}
#main p.next {
    display:inline-block;
    font-weight: bold;
    margin: 0;
}

.logo520{
    float: left;
    margin-right: 30px;
}
#map img {
     -webkit-filter: saturate(0.3);
}

.legendItem {
    background-color: orange;
    color: #ffffff;
    border-radius: 2px;
    padding: 3px;
}

.legendItem-orange {
    background-color: orange;
    color: #ffffff;
    border-radius: 2px;
    padding: 3px;
}

.legendItem-green {
    background-color: green;
    color: #ffffff;
    border-radius: 2px;
    padding: 3px;
}

.legendItem-red {
    background-color: red;
    color: #ffffff;
    border-radius: 2px;
    padding: 3px;
}

.sideLink {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.sideLink > a {
    line-height: 1.5;
}
.dateFilter {
    width: 89px;
    font-size: 16px;
    margin-left: 15px;
    font-weight: bold;
    color: #800080;
}
.dateBox {
    padding-bottom: 0;
}
.ui-datepicker-trigger {
    width: 20px;
    margin-left: 7px!important;
}

.clearfix:before,
.clearfix:after
{
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after
{
    clear: both;
}

.clearfix
{
    *zoom: 1;
}

.ui-datepicker-trigger {
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: 2px;
    cursor: pointer;
}
#ui-datepicker-div {
    z-index: 10!important;
}
.details {
    white-space: pre-line;
}

#main .details p:last-child{
    margin-bottom: 0;
}

.leftnavbox {
    width: 160px;
}

.leaflet-marker-icon, .leaflet-marker-shadow {
    display: inline-block;
}
#activityList .leaflet-marker-icon {
    position: inherit;
}

.divIconLabel-orange {
    color: #ffffff;
    background-image: url(../Content/icons/orangeCone.png);
    background-repeat: no-repeat;
    /*background-color: orange;*/
    padding: 10px 12px;
    /*border-radius: 4px;*/
    font-weight: bold;
    cursor: pointer;
    /*border-width: 2px;
    border-color: #ffffff;
    border-style: solid;*/
    vertical-align: bottom;
    text-align: center;
    /*padding-bottom: 10px;*/
    /*box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);*/
    font-size: 11px;
}
#activityList .divIconLabel-orange {
    background-repeat: no-repeat;
   width: 35px;
}
.divIconLabel-green {
    color: #ffffff;
    background-image: url(../Content/icons/orangeCone.png);
    /*background-color: green;*/
    padding: 10px;
    /*border-radius: 4px;*/
    font-weight: bold;
    cursor: pointer;
    /*border-width: 2px;
    border-color: #ffffff;
    border-style: solid;*/
    vertical-align: middle;
    text-align: center;
    /*padding-bottom: 10px;*/
    /*box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);*/
}

.divIconLabel-red {
    color: #ffffff;
    background-image: url(../Content/icons/orangeCone.png);
    /*background-color: red;*/
    padding: 10px;
    /*border-radius: 4px;*/
    font-weight: bold;
    cursor: pointer;
    /*border-width: 2px;
    border-color: #ffffff;
    border-style: solid;*/
    vertical-align: middle;
    text-align: center;
    /*padding-bottom: 10px;*/
    /*box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);*/
}

.mapControlBox {
    /*margin-bottom: 10px;*/
    padding: 10px;
    background-color: #fbfbfb;
    border: 1px solid #000000;
    border-bottom: 1px solid #aaaaaa;
}


#intmap button{
    text-align: left;
    border: none;
    background-color: #e2e2e2;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-bottom: 10px;
    padding: 12px;
    background-image: none;
    /*font-size: 15px;*/
}

#intmap button:hover {
    background-color: #d8d8d8;
}

button.wide {
    display: block;
    width: 100%;
}

.center {
    text-align: center;
}
/*-------------------------------------------------------
jQuery UI overrides------------------------------------*/
.ui-dialog a:focus {
    border: none;
    outline: none;
}
.ui-dialog .ui-dialog-title {
    white-space: inherit;
}

.ui-dialog .ui-dialog-content {
    padding: .5em .5em;
}
.ui-widget-content {
    color: black/*{fcContent}*/;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 1em;
    border-top: 0;
    overflow: auto;
}
.ui-accordion .ui-accordion-header {
    margin-top: 10px;
    padding: 12px;
    /*font-size: 15px;*/
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: none;
    background-color: #e2e2e2;
}
.ui-state-active:hover, .ui-widget-content .ui-state-active:hover, .ui-widget-header .ui-state-active:hover, .ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover{
    background-color: #d8d8d8;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background-color: #d8d8d8;
}
.ui-accordion-content-active {
    height: auto!important;
}

.ui-accordion-header .ui-icon {
    display: inline-block;
}
#dialogs {
    display: none;
}
.ui-widget-content {
    border: 1px solid #e2e2e2/*{borderColorContent}*/;
}

.ui-dialog .ui-dialog-title {
    font-size: 20px;
}

.ui-widget-header {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 18px;
}
.ui-dialog .ui-dialog-titlebar {
    padding: .4em .6em;
}

.ui-button-text-only .ui-button-text {
    padding: 0;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only, button[type="submit"]{
    text-align: left;
    border: none;
    background-color: #1F7359;
    color:white;
    font-weight: bold;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-bottom: 10px;
    padding: 8px 12px;
    background-image: none;
}

/*-------------------------------------------------------
Bootstrap overrides------------------------------------*/

/*

grid-breakpoints:
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px

container-max-widths: 
  sm: 420px,
  md: 720px,
  lg: 960px

*/

/*-------------------------------------------------------
WSDOT code overrides------------------------------------*/
.bottomnav {
    width: auto;
    margin: 0;
}
.bottomnav li {
    font-size: 1em;
}
hr, #main hr {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    border-left: none;
    border-right: none;
    margin: 20px 0;
}
#main hr {
    height: 0;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}


h1.page-title {
    margin: 5px 0 0 0;
}

p.tagline, #main p.tagline {
    margin-top: 0;
    font-style: italic;
}

#main ul li {
    background: none;
    padding: .1em 0 .3em 0;
}

#main p {
    margin: 0 0 1em 0;
}

#main dl, ul {
    list-style: disc;
    margin: 1.5em 2em;
    padding: 0em;
    margin: 0 2em 1em;
}

p.tagline, #main p.tagline {
    margin-top: 0;
    font-style: italic;
}

#main ul li {
    background: none;
    padding: .1em 0 .3em 0;
}

#header .topban {
    height: auto;
    overflow: auto;
    background-color: #017359;
}
input.searchButton {
    background-color: #017359;
    border: 1px solid;
    border-top-color: #017359;
    border-left-color: #017359;
    border-right-color: #017359;
    border-bottom-color: #017359;
}
p, ul, ol, dl {
    line-height: 1.5em;
}

.bottomnav {
    font-size: 13px;
}


.mainnav {
    padding-left: 0;
    padding:10px 0
}

.mainnav ul {
    height:inherit;
    padding: 0;
}

.mainnav ul li a {
    /*font-size: 15px;*/
    border-right: 1px solid white;
}

.mainnav ul li a:hover {
    color: white;
    text-decoration: underline;
}

.mainnav ul li.selected a{
    color: white;
    text-decoration: underline;
}

.topnav {
    padding: 8px 0;
    width: auto;
    overflow: auto;
    text-align: right;
}
ul ul{
    margin-top: 5px;
}
.topnav li {
    border-left: none;
    border-right: 1px dotted #ffffff;
    float: none;
    display: inline-block;
}
.topnav li:last-of-type {
    border-right: none;
}
.topnav, .logo, .mainnav, #main, .leftnav, .leftnavbox, #wrapper, .footer {
    width: inherit;
}

#wrapper, .footer {
    background-color: transparent;
    background: none;
}
#main {
    margin: 0;
    float: none;
}
.footer {
    margin-top: 10px;
}
a:hover {
    text-decoration: underline;
}

.whitebg {
    background-color: white;
}


.mainban{
    clear: both;
    border-top: transparent;
    border-bottom: transparent;
}

.mainnav .container{
    background-color: #f36e21;
    padding: 10px 0;
}

.status {
    border: 2px solid #f36e21;
    padding: 0 15px;
}
.mainnav .container a {
        color: white;
}
.mainnav {
    padding: 0;
    background-color: #f3f3f2;
}
.row {
    margin-top: 0;
}

.leftnav h4 {
    margin:15px 0;
}

.leftnav h4:first-child {
    margin:0 0 15px 0;
}
.leftnavbox > ul {
    padding: 0;
}

.search-text {
    height: 31px;
}

.topmarge {
    margin-top: 15px;
}

.toppad {
   padding-top: 20px;
}

.center {
    text-align: center;
}
 .search {
    position: inherit;
    right: 0;
    top: 0;
}
input.searchButton {
    height: 31px;
    padding: 0 10px;
}
@media (min-width: 1200px) {

}

.alert {
    background-color: #ececec;
    padding: 10px;
}

@media (min-width: 992px) {
    #header .topban {
        height: 38px;
    }
    #main p.floatright {
        float: right;
        margin-left: 15px;
    }
    #main p.floatright > img:first-child {
        max-width: 370px;
    }
    .formfield {
        display: inline-block;
        float: left;
    }
    .mainnav ul li a {
        font-size: 1em;
    }
   .leaflet-popup-content[style] {
        width: 500px!important;
    }
}
@media (max-width: 992px) {
.mainnav ul li a {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .search {
        float: right;
        margin-top: 23px;
    }

}

@media (max-width: 768px) {
    .topban > .container, .logo > .container{
        padding:0;
    }
    ul.topnav {
        padding-bottom: 5px;
        text-align: left;

    }
    .topnav li {
        float: none;
        display: inline-block;
        /*display: none;*/
    }
    .mainnav ul li a {
        border-right: none;
        display: block;
        background-color: #f36e21;
        margin-bottom: 3px;
        padding: 6px 6px;
    }
    .mainnav ul li.selected a{
        text-decoration: none;
    }
    .mainnav ul li.selected a{
        background-color: #017359;
    }
    .mainnav .container {
        background-color: transparent;
    }
    .search {
         display: none;
         /*display: block;*/
        margin-bottom: 10px;
    }
    .logo h1 {
        display: block;
        float: none;
    }
}

@media (max-width: 500px) {
    .page-title {
        line-height: 1;
        font-size: 16px;
    }
    .tagline {
        font-size:12px
    }
    .search-text {
        width: 148px;

    }
}
@media (max-width: 400px) {
    ul.topnav {
        display:none;
    }
}

@media (max-width: 360px) {
    .page-title {
        line-height: 1;
        font-size: 14px;
    }
    .tagline {
        font-size: 12px;
        line-height: 1;
    }

}


@media (min-width: 1200px){
.container {
    max-width: 1100px;
}
}


.legendItem {
    background-color: orange;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.legendItem a:link {
    color: #ffffff;
    text-decoration: none;
}



/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


